main {
    font-size: 23px;
}

.container {
    background-color: #BCD1DD;
    padding: 30px;
    margin-bottom: 60px;
    border-radius: 5px;

}

#invitation_div {
    background-color: #BCD1DD;
    color: #fff;
    max-height: 150px;
    border-radius: 15px;
    border: #fff solid 1px;
    font-size: 30px;
    text-align: center;
    margin: 20px;
    padding: 30px 0;
}

label {
    display: list-item;
    list-style: none;
}

input {
    border: #eee solid 2px;
    border-radius: 5px;
}

input:active {
    transform: scale(1.01, 1.01);
    transition: transform 100ms ease-in-out;
}

input:focus {
    transition: background-color 100ms ease-in-out;
    background-color: #f1b0b7;
}


#id_birth_date {
    border-radius: 3px;
}


#submit_registration {
    background-color: #FA7388;
    border: #fff solid 1px;
    padding: 5px 10px;
    display: block;
    color: #fff;
}
