<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    {% load static %}
    <link rel="stylesheet" href="{% static "css_pages/profile.css" %}"/>
</head>
<body>
<header class="sticky-top">
    <nav class="navbar navbar-expand-lg">
        {% if request.user.is_authenticated %}
            <a class="mx-4 p-0 float-left" id="logo" href="/view_people"><img src="{% static "images/logo.png" %}"
                                                                              alt="PyDate" width="180px"
                                                                              height="80px" class="m-0 p-0"/></a>
        {% else %}
            <a class="mx-4 p-0 float-left" id="logo" href="/"><img src="{% static "images/logo.png" %}" alt="PyDate"
                                                                   width="180px" height="80px" class="m-0 p-0"/></a>
        {% endif %}

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse ml-auto" id="main-menu">
            <ul class="navbar-nav navbar-right ml-auto">
                {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="/view_people">Home</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/view_answers">Answers</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/my_matches">Matches</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/profile/">Edit</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/help/">Help</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{% url "logout" %}">Log out</a>
                    </li>

                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/help/">Help</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="../../login">Log in</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="../../register">Register</a>
                    </li>
                {% endif %}
                <span style="clear: both"></span>
            </ul>
        </div>
    </nav>
</header>
<div class="container bootstrap snippets">
    <div class="row m-5">
        <div class="col-xl-12 d-flex justify-content-center">
            <div class="form-horizontal col-s-6 col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-body text-center">
                        {% if data.url %}
                            <img style="padding: 10px" src="{{ data.url }}" alt="User avatar" width="350" height="300">
                        {% else %}
                            <img src="https://bootdey.com/img/Content/avatar/avatar6.png"
                                 class="img-circle profile-avatar"
                                 alt="User avatar">
                        {% endif %}
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body text-center">
                        <input id="image" value="Choose some hot pic" type="file" accept="image/jpeg, image/png">
                        <button onclick="updateImage()" class="btn btn-primary"
                                style="background: lightblue;border: none;color: dimgrey;">Set this hot pic as profile
                        </button>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">Personal info</h4>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">First name</label>
                            <div class="col-sm-12">
                                <input id="first_name" type="text" class="form-control"
                                       value="{{ data.first_name }}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Last name</label>
                            <div class="col-sm-12">
                                <input id="last_name" type="text" class="form-control"
                                       value="{{ data.last_name }}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Birthday</label>
                            <div class="col-sm-12">
                                <input id="birth" type="date" class="form-control"
                                       value="{{ data.birth|date:"Y-m-d" }}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="sex" class="col-sm-3 control-label">Sex</label>
                            <div class="col-sm-12">
                                <select id="sex" name="sex" class="auto-width setup-inline  form-control input-medium"
                                        required>
                                    <option value="M" {% if data.sex == 'M' %}selected{% endif %}>Male</option>
                                    <option value="F" {% if data.sex == 'F' %}selected{% endif %}>Female</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="sex" class="col-sm-3 control-label">Looking for</label>
                            <div class="col-sm-12">
                                <select id="looking_for" name="sex"
                                        class="auto-width setup-inline  form-control input-medium" required>
                                    <option value="M" {% if data.looking_for == 'M' %}selected{% endif %}>Male</option>
                                    <option value="F" {% if data.looking_for == 'F' %}selected{% endif %}>Female
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Description</label>
                            <div class="col-sm-12">
                                <textarea id="description" type="text" class="form-control"
                                          maxlength="400">{{ data.description }}</textarea>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">Contact info</h4>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">E-mail address</label>
                            <div class="col-sm-12 ">
                                <input id="email" type="email" class="form-control" value="{{ data.email }}">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">Confirm with password</h4>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Password</label>
                            <div class="col-sm-12">
                                <input id="password" type="password" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12 col-sm-offset-2">
                                <button onclick="update()" class="btn btn-primary"
                                        style="background: lightblue;
                                        border: none;
                                        color: dimgrey;
                                        position: relative;
                                        left: 50%;
                                        top: -8px;
                                        -ms-transform: translateX(-50%);
                                        transform: translateX(-50%);">Update
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    function update() {
        let pass = $("#password").val();
        if (pass !== "") {
            let updated_data = {
                'first_name': $("#first_name").val(),
                'last_name': $("#last_name").val(),
                'birth': $("#birth").val(),
                'sex': $("#sex").val(),
                'looking_for': $("#looking_for").val(),
                'description': $("#description").val(),
                'email': $("#email").val(),
                'password': pass
            }
            $.post({
                url: '/profile/edit/',
                headers: {
                    "X-CSRFToken": '{{ csrf_token }}'
                },
                data: updated_data,
                success: function () {
                    showMessage("Your data has been updated!");
                },
                error: function () {
                    showMessage("Password error!");
                }
            });
        }
    }

    function updateImage() {
        var form = new FormData()
        var img = $("#image")[0].files[0];
        if (img !== undefined) {
            form.append('image', img);
            $.post({
                url: '/profile/editimg/',
                contentType: false,
                processData: false,
                headers: {
                    "X-CSRFToken": '{{ csrf_token }}'
                },
                data: form,
                success: function () {
                    showMessage("Your picture has been updated!")
                }
            });
        }
    }

    function showMessage(message) {
        alert(message)
    }
</script>
</body>
</html>
