<!DOCTYPE html>
{% extends 'html_pages/base.html' %}
<html lang="en">
<head>
    {% block header %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Thanks!</title>
        <!-- css sheets -->
        {% load static %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
              crossorigin="anonymous">
        <link rel="stylesheet" href="{% static "css_pages/base.css" %}"/>
        <link rel="stylesheet" href="{% static "css_pages/register.css" %}"/>
    {% endblock %}
</head>
<body>
{% block content %}
    <main class="d-flex row min-vh-100 justify-content-center mw-100">
        <div class="container col-xl-6 col-lg-4 col-md-6 col-sm-6 col-9 justify-content-center align-self-center"
             style="text-align: center">
            Thank you for completing our test :)
            <a class="nav-link" href="/add_personal_questions">
                <div id="invite_text" class="invite_text d-inline-block col-5 mr-3 px-0 text-center">
                    Ask people your questions!
                </div>
            </a>
        </div>
    </main>
{% endblock %}
</body>
</html>